# 3-3. 단어 빈도를 이용한 벡터화 (2) Bag of Words 구현해보기

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer

sentence = ["John likes to watch movies. Mary likes movies too! Mary also likes to watch football games."]

# 3-7. 단어 빈도를 이용한 벡터화 (6) TF-IDF 구현하기

In [1]:
from math import log
import pandas as pd
print("complete")

complete

In [2]:
docs = [
  'John likes to watch movies and Mary likes movies too',
  'James likes to watch TV',
  'Mary also likes to watch football games',  
]

In [3]:
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()
print("단어장의 크기 : ",len(vocab))
print(vocab)

단어장의 크기 :  13
['James', 'John', 'Mary', 'TV', 'also', 'and', 'football', 'games', 'likes', 'movies', 'to', 'too', 'watch']

In [4]:
N = len(docs) #총 문서의 수 
N

3

In [5]:
def tf(t,d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df+1)) +1

def tfidf(t,d):
    return tf(t,d) * idf(t)

In [8]:
result = []
for i in range(N):
    result.append([]) #3개의 행을 만든다.
    d = docs[i] #1번째 문장, 2번째 문장, 3번째 문장
    for j in range(len(vocab)):
        t = vocab[j]
        
        result[-1].append(tf(t,d))
        
tf_ = pd.DataFrame(result,columns=vocab)
tf_

,James,John,Mary,TV,also,and,football,games,likes,movies,to,too,watch
0,0,1,1,0,0,1,0,0,2,2,2,1,1
1,1,0,0,1,0,0,0,0,1,0,1,0,1
2,0,0,1,0,1,0,1,1,1,0,1,0,1

In [10]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))
    
idf_ = pd.DataFrame(result,index=vocab,columns=["IDF"])
idf_

               IDF
James     1.405465
John      1.405465
Mary      1.000000
TV        1.405465
also      1.405465
and       1.405465
football  1.405465
games     1.405465
likes     0.712318
movies    1.405465
to        0.712318
too       1.405465
watch     0.712318

In [12]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        
        result[-1].append(tfidf(t,d))
        
tfidf_ = pd.DataFrame(result,columns=vocab)
tfidf_

,James,John,Mary,TV,also,and,football,games,likes,movies,to,too,watch
0,0.000000,1.405465,1.0,0.000000,0.000000,1.405465,0.000000,0.000000,1.424636,2.81093,1.424636,1.405465,0.712318
1,1.405465,0.000000,0.0,1.405465,0.000000,0.000000,0.000000,0.000000,0.712318,0.00000,0.712318,0.000000,0.712318
2,0.000000,0.000000,1.0,0.000000,1.405465,0.000000,1.405465,1.405465,0.712318,0.00000,0.712318,0.000000,0.712318

In [ ]:
# 사이킷런을 활용해보자
#1. CountVectorizer을 이용하면 DTM을 만들 수 있다.
#2. TfidfVectorizer을 이용하면 TF-IDF을 만들 수 있다.

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = [
  'John likes to watch movies and Mary likes movies too',
  'James likes to watch TV',
  'Mary also likes to watch football games',  
]

tfidfv = TfidfVectorizer().fit(corpus)
print(tfidfv.vocabulary_)
vocab = list(tfidfv.vocabulary_.keys()) # 단어장을 리스트로 저장
vocab.sort() # 단어장을 알파벳 순으로 정렬

# TF-IDF 행렬에 단어장을 데이터프레임의 열로 지정하여 데이터프레임 생성
tfidf_ = pd.DataFrame(tfidfv.transform(corpus).toarray(), columns = vocab)
tfidf_

{'john': 5, 'likes': 6, 'to': 9, 'watch': 12, 'movies': 8, 'and': 1, 'mary': 7, 'too': 10, 'james': 4, 'tv': 11, 'also': 0, 'football': 2, 'games': 3}

,also,and,football,games,james,john,likes,mary,movies,to,too,tv,watch
0,0.000000,0.321556,0.000000,0.000000,0.000000,0.321556,0.379832,0.244551,0.643111,0.189916,0.321556,0.000000,0.189916
1,0.000000,0.000000,0.000000,0.000000,0.572929,0.000000,0.338381,0.000000,0.000000,0.338381,0.000000,0.572929,0.338381
2,0.464997,0.000000,0.464997,0.464997,0.000000,0.000000,0.274634,0.353642,0.000000,0.274634,0.000000,0.000000,0.274634

# 3-9. LSA와 LDA (2) LSA 실습

In [17]:
import pandas as pd
import numpy as np
import urllib.request
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [18]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /Users/songye/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /Users/songye/nltk_data...
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/songye/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

### 데이터 다운로드 및 확인

In [19]:
import os

csv_filename = './data/abcnews-date-text.csv'
urllib.request.urlretrieve("https://raw.githubusercontent.com/franciscadias/data/master/abcnews-date-text.csv", 
                           filename=csv_filename)

('./data/abcnews-date-text.csv', <http.client.HTTPMessage at 0x7fdcbf18cb90>)

In [23]:
data = pd.read_csv(csv_filename)
data.shape

(1082168, 2)

In [24]:
data.head()

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

In [25]:
text = data[['headline_text']].copy()
text.head()

                                       headline_text
0  aba decides against community broadcasting lic...
1     act fire witnesses must be aware of defamation
2     a g calls for infrastructure protection summit
3           air nz staff in aust strike for pay rise
4      air nz strike to affect australian travellers

In [26]:
text.nunique()

headline_text    1054983
dtype: int64

In [27]:
text.drop_duplicates(inplace=True)
text.reset_index(drop=True,inplace=True)
text.shape

(1054983, 1)

### 데이터 정제 및 정규화

In [28]:
text['headline_text'] = text.apply(lambda row: nltk.word_tokenize(row['headline_text']),axis=1)

#불용어 제거
stop_words = stopwords.words('english')
text['headline_text'] = text['headline_text'].apply(lambda x: [word for word in x if word not in (stop_words)])

text.head()

                                       headline_text
0   [aba, decides, community, broadcasting, licence]
1    [act, fire, witnesses, must, aware, defamation]
2     [g, calls, infrastructure, protection, summit]
3          [air, nz, staff, aust, strike, pay, rise]
4  [air, nz, strike, affect, australian, travellers]

#### 단어 정규화 과정

In [29]:
text['headline_text'] = text['headline_text'].apply(lambda x : [WordNetLemmatizer().lemmatize(word,pos='v') for word in x])

text = text['headline_text'].apply(lambda x : [word for word in x if len(word) >2])
print(text[:5])

0     [aba, decide, community, broadcast, licence]
1    [act, fire, witness, must, aware, defamation]
2       [call, infrastructure, protection, summit]
3            [air, staff, aust, strike, pay, rise]
4    [air, strike, affect, australian, travellers]
Name: headline_text, dtype: object

### 역토큰화 및 DTM 생성

In [30]:
detokenized_doc = []
for i in range(len(text)):
    t = ' '.join(text[i])
    detokenized_doc.append(t)
    
train_data = detokenized_doc

In [31]:
train_data[:5]

['aba decide community broadcast licence',
 'act fire witness must aware defamation',
 'call infrastructure protection summit',
 'air staff aust strike pay rise',
 'air strike affect australian travellers']

In [32]:
c_vectorizer = CountVectorizer(stop_words='english',max_features=5000)
document_term_matrix = c_vectorizer.fit_transform(train_data)

In [33]:
print("행렬의 크기 : ",document_term_matrix.shape)

행렬의 크기 :  (1054983, 5000)

### scikit-learn TruncatedSVD 활용

In [34]:
from sklearn.decomposition import TruncatedSVD

n_topics = 10
lsa_model = TruncatedSVD(n_components=n_topics)
lsa_model.fit_transform(document_term_matrix)

array([[ 1.20415307e-02, -3.73270858e-03,  1.82724274e-02, ...,
         4.23228377e-03, -3.03848091e-04,  1.82502076e-02],
       [ 2.90462145e-02, -1.09333379e-02,  1.81627315e-02, ...,
        -3.79688331e-03,  6.55757954e-03, -1.44432048e-03],
       [ 5.03215593e-03, -2.03619153e-03,  9.74510468e-03, ...,
        -2.15329756e-03, -1.96421012e-03,  3.62965374e-03],
       ...,
       [ 2.96578856e-02,  4.04752706e-03,  2.50394015e-02, ...,
         3.14150834e-02, -1.04414762e-02,  1.85017100e-02],
       [ 6.18357507e-02, -6.00603026e-03,  1.36524806e-01, ...,
         9.75172609e-01, -7.17958964e-01, -3.38534760e-01],
       [ 7.14795998e-02,  2.82027209e-02, -1.23578357e-04, ...,
        -1.46585733e-02, -1.25636736e-02,  7.15685905e-02]])

In [35]:
print(lsa_model.components_.shape)

(10, 5000)

In [36]:
terms = c_vectorizer.get_feature_names_out()

def get_topics(components,feature_names,n=5):
    for idx,topic in enumerate(components):
        print("Topic %d:" % (idx+1), [(feature_names[i], topic[i].round(5)) for i in topic.argsort()[:-n - 1:-1]])
        

get_topics(lsa_model.components_,terms)

Topic 1: [('police', 0.74636), ('man', 0.45349), ('charge', 0.21096), ('new', 0.14091), ('court', 0.11159)]
Topic 2: [('man', 0.69427), ('charge', 0.30047), ('court', 0.16783), ('face', 0.1151), ('murder', 0.10639)]
Topic 3: [('new', 0.83641), ('plan', 0.23656), ('say', 0.18266), ('govt', 0.11052), ('council', 0.11017)]
Topic 4: [('say', 0.74064), ('plan', 0.3581), ('govt', 0.16477), ('council', 0.12527), ('urge', 0.0786)]
Topic 5: [('plan', 0.73554), ('council', 0.17621), ('govt', 0.13826), ('urge', 0.08416), ('water', 0.06537)]
Topic 6: [('govt', 0.55496), ('urge', 0.25133), ('court', 0.25105), ('fund', 0.21706), ('win', 0.1485)]
Topic 7: [('charge', 0.51295), ('court', 0.46743), ('face', 0.33658), ('murder', 0.13411), ('plan', 0.11696)]
Topic 8: [('win', 0.67062), ('kill', 0.24205), ('court', 0.22531), ('crash', 0.13642), ('council', 0.12895)]
Topic 9: [('court', 0.55366), ('face', 0.18293), ('kill', 0.13586), ('accuse', 0.10315), ('crash', 0.07372)]
Topic 10: [('council', 0.76479), ('charge', 0.1552), ('crash', 0.14746), ('health', 0.0851), ('kill', 0.08261)]

# 3-11. LSA와 LDA (4) LDA 실습

### TF-IDF 행렬 생성

In [37]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english',max_features=5000)
tf_idf_matrix = tfidf_vectorizer.fit_transform(train_data)

print(tf_idf_matrix.shape)

(1054983, 5000)

In [38]:
tf_idf_matrix[:2]

<2x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

### scikit-learn LDA Model 활용

In [39]:
from sklearn.decomposition import LatentDirichletAllocation

lda_model = LatentDirichletAllocation(n_components=10,learning_method='online',random_state=777,max_iter=1)
lda_model.fit_transform(tf_idf_matrix)

array([[0.0335099 , 0.0335099 , 0.0335099 , ..., 0.17024867, 0.0335099 ,
        0.0335099 ],
       [0.03365631, 0.03365631, 0.03365631, ..., 0.03365631, 0.03365631,
        0.03365631],
       [0.25184095, 0.0366096 , 0.0366096 , ..., 0.0366096 , 0.0366096 ,
        0.0366096 ],
       ...,
       [0.26687206, 0.02914502, 0.02914502, ..., 0.13007484, 0.02916018,
        0.28739608],
       [0.10378115, 0.02637829, 0.12325014, ..., 0.02637829, 0.02637829,
        0.02637829],
       [0.03376055, 0.03376055, 0.2255442 , ..., 0.03376055, 0.03376055,
        0.03376055]])

In [40]:
print(lsa_model.components_.shape)

(10, 5000)

In [41]:
terms = c_vectorizer.get_feature_names_out()

def get_topics(components,feature_names,n=5):
    for idx,topic in enumerate(components):
        print("Topic %d:" % (idx+1), [(feature_names[i], topic[i].round(5)) for i in topic.argsort()[:-n - 1:-1]])
        

get_topics(lda_model.components_,terms)

Topic 1: [('australia', 9359.06334), ('sydney', 5854.97288), ('attack', 4784.76322), ('change', 4193.63035), ('year', 3924.88997)]
Topic 2: [('government', 6344.07413), ('charge', 5947.12292), ('man', 4519.7974), ('state', 3658.16422), ('live', 3625.10473)]
Topic 3: [('australian', 7666.65651), ('say', 7561.01807), ('police', 5513.22932), ('home', 4048.38409), ('report', 3796.04446)]
Topic 4: [('melbourne', 5298.35047), ('south', 4844.59835), ('death', 4281.78433), ('china', 3214.44581), ('women', 3029.28443)]
Topic 5: [('win', 5704.0914), ('canberra', 4322.0963), ('die', 4025.63057), ('open', 3771.65243), ('warn', 3577.47151)]
Topic 6: [('court', 5246.3124), ('world', 4536.86331), ('country', 4166.34794), ('woman', 3983.97748), ('crash', 3793.50267)]
Topic 7: [('election', 5418.5038), ('adelaide', 4864.95604), ('house', 4478.6135), ('school', 3966.82676), ('2016', 3955.11155)]
Topic 8: [('trump', 8189.58575), ('new', 6625.2724), ('north', 3705.40987), ('rural', 3521.42659), ('donald', 3356.26657)]
Topic 9: [('perth', 4552.8151), ('kill', 4093.61782), ('break', 2695.71958), ('budget', 2596.93268), ('children', 2586.01957)]
Topic 10: [('queensland', 5552.68506), ('coast', 3825.32603), ('tasmanian', 3550.75997), ('shoot', 3185.71575), ('service', 2695.21462)]